<!DOCTYPE html>
<html en="en">
<head>
  <title>ai2html</title>

  <meta charset='utf-8'>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="ai2html is a script for Adobe Illustrator that converts your Illustrator artwork into html and css.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://ai2html.org/">
  <meta name="twitter:title" content="ai2html">
  <meta name="twitter:description" content="ai2html is a script for Adobe Illustrator that converts your Illustrator artwork into html and css.">
  <meta name="twitter:image" content="http://ai2html.org/twittercard.png">
  <meta name="og:image" content="http://ai2html.org/facebookshare.png">
  <meta name="og:site_name" content="ai2html.org">
  <meta name="og:url" content="http://ai2html.org/">

  <link rel="canonical" href="http://ai2html.org/" />
  <link href="poole.css" media="all" rel="stylesheet" />
  <link href="hyde.css" media="all" rel="stylesheet" />
  <link href="ai2html.css" media="all" rel="stylesheet" />

  <script type="text/javascript" src="http://typeface.nytimes.com/zam5nzz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

<body>

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{% include ai2html-white.html %}</h1>
      <p class="lead">ai2html turns your Illustrator files into HTML.</p>
    </div>

    <ul class="sidebar-nav">
      {% for item in page.sidebar_menu %}
      {% capture first %}{{ item[0] | split:'' | first }}{% endcapture %}
     
      <li class="sidebar-nav-item sidebar-nav-{% if first == '#' %}hash{% else %}{% if item[0] == '/' %}return{% else %}page{% endif %}{% endif %}"><a href="{{ item[0] }}">{{ item[1] }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="content container">

{{content}}

</div>

</body>
</html>
